{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <a href="{{ path('create_category') }}">Créer une tâches</a>
    <h3>Voilà tes catégories :</h3>
    {% for category in categorys %}
        {{ category.name }}

    {% endfor %}
{% endblock %}

